{% extends 'base.html.twig' %}

{% block title %}New Emp{% endblock %}

{% block body %}
    <h1>Create new Emp</h1>

    {{ include('employees/_form.html.twig') }}

    <a href="{{ path('app_employees_index') }}">back to list</a>
{% endblock %}
